<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DSEM Lab.</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <script src="/js/iconify.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/AdminLTE/app_homepage.js" type="text/javascript"></script>
    <script src="/js/function.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>
    <script>
        $(document).ready(function() {
            $("#login-form").keypress(function (e) {
                if(e.keyCode == 13) {
                    login();
                }
            });
    });
    </script>
    <script>
      $(document).ready(function() {
          window.fbAsyncInit = async function() {
              FB.init({
                  appId : '248031003784537',
                  autoLogAppEvents : true,
                  xfbml : true,
                  version : 'v12.0',
                  cookie:true,
                  xfbml:true
              });
              
              FB.api("https://graph.facebook.com/v12.0/248031003784537/feed?fields=created_time%2Cmessage%2Cfull_picture&access_token=EAAC3aQ4N3rEBANBlSCBW4aZCpWFDZCYdpbqtcLzLeuSuMOi9zbS4XlH1lmt71iocapcYi2ZBOtFsK7Rajbto0OtFsgOqv8rZC6Y2QJYuWfN4eqXKD9ZCUVHyjrFbJv8CwUBLlQmVviq07eUmh4HNPHZCj6CoMp8ZCIcNhok2YywpVz1UTwiZCfyH",
                  function(response) {
                      var data = response.data;
                      var html = "";
                      /* 타임라인 구성 */
                      html += '<section class="timeline">';
                      html += '<div class="container">';
                      for(let i=0; i<data.length-1; i++) {
                          var messageTemp = data[i].message.split("\n");
                          if(data[i].full_picture != null) {
                              /* 총 개수만큼의 timeline-item 구성 */
                              html += '<div class="timeline-item">'
                              /* 타임라인 원모양의 디자인 */
                              html += '<div class="timeline-img"></div>';
                              /* 타임라인 세션 구성 */
                              html += '<div class="timeline-content timeline-card js--fadeInRight">';
                              /* 이미지구성 */
                              html += '<div class="timeline-img-header">';
                              html += '<img class="images" id="image" src="' + data[i].full_picture + '"' + '/>';
                              html += '</div>';
                              /* 날짜구성 */
                              let tmp = data[i].created_time.split("T");
                              data[i].created_time = tmp[0];
                              html += '<div class="date">';
                              html += data[i].created_time;
                              html += '</div>';
                              /* 내용구성 */
                              // html += '<p>';
                              //html += data[i].message; 
                              //html += '</p>';

                              html += '<div class="message">';
                              html += '<h2>' +messageTemp[0]+'</h2>'
                              html += '<blockquote>';
                              for(let i =1; i<messageTemp.length; i++) {
                                  html += messageTemp[i];
                              }
                              html += '</blockquote>';
                              html += '</div>'
                              
                              html += '</div></div>';
                          } else {
                              /* 총 개수만큼의 timeline-item 구성 */
                              html += '<div class="timeline-item">'
                              /* 타임라인 원모양의 디자인 */
                              html += '<div class="timeline-img"></div>';
                              /* 타임라인 세션 구성 */
                              html += '<div class="timeline-content timeline-card js--fadeInRight">';
                              /* 날짜구성 */
                              html += '<div class="date">';
                              html += data[i].created_time;
                              html += '</div>';
                              /* 내용구성 */
                              html += '<p>';
                              html += data[i].message;
                              html += '</p>';
                              html += '</div>';
                          }
                    }
                    html+='</div>';
                    $(".TLine").html(html)
                }
              );
          };
      });
    </script>
    <script>
      $(document).on('click', '.menuSelect', function () {
          // id_value = $(this).attr("id");
          if ($(this).attr("id") == "Professor") {
              $("#row").load("../members/Professor");
          } else if ($(this).attr("id") == "Home") {
              $("#row").load("../home/home");
          } else if ($(this).attr("id") == "Researcher") {
              $("#row").load("../members/researcher");
          } else if ($(this).attr("id") == "Alumni") {
              $("#row").load("../members/alumni");
          } else if ($(this).attr("id") == "Paper") {
              $("#row").load("../paper/paper");
          } else if ($(this).attr("id") == "Others") {
              $("#row").load("../others/others");
          } else if ($(this).attr("id") == "Activity") {
              location.href = "/activity/activity";
              //$("#row").load("/activity/activity");
          } else if ($(this).attr("id") == "linkUpdate") {
              $("#row").load("../link/linkEdit");
          }
      });
  </script>
  <script>
      $(document).on('click', '.menuSelect', function () {
          // id_value = $(this).attr("id");
          if($(this).attr("id") == "Home") {
              location.href = "/"
          } else if ($(this).attr("id") == "Professor") {
              location.href = "../members/professor"
              //$("#row").load("/members/Professor");
          } else if ($(this).attr("id") == "Researcher") {
              location.href = "../members/researcher"
              //$("#row").load("/members/researcher");
          } else if ($(this).attr("id") == "Alumni") {
              location.href = "../members/alumni"
              //$("#row").load("/members/alumni");
          } else if ($(this).attr("id") == "Paper") {
              location.href = "../paper/paper"
              //$("#row").load("/paper/paper");
          } else if ($(this).attr("id") == "Others") {
              location.href = "../others/others"
              //$("#row").load("/others/others");
          } else if ($(this).attr("id") == "Activity") {
              location.href = "../activity/activity";
              //$("#row").load("/activity/activity");
          } else if ($(this).attr("id") == "linkUpdate") {
              location.href = "../link/linkEdit";
              //$("#row").load("/link/linkEdit");
          }
      });
  </script>
</head>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style=" padding-left: 230px; padding-top: 150px;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="login-form" id="login-form">
                <h1>Login</h1>
                <input type="text" id='uId' name="username" placeholder="Username" required>
                <input type="password" id='uPw' name="password" placeholder="Password" required>
                <input type="submit" onclick="login()" value="Login">
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="close()">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
      .TLine {
        margin-left: -30px;
      }
      h2 {
        font-size: 30px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }
      
      .timeline {
        position: relative;
      }
      .timeline::before {
        content: "";
        background: #C5CAE9;
        width: 5px;
        height: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .timeline-item {
        width: 100%;
        margin-bottom: 70px;
      }
      .timeline-item:nth-child(even) .timeline-content {
        /*margin-right:350px;*/
        float: right;
        padding: 40px 30px 10px 30px;
        height: 300px;
      }
      .timeline-item:nth-child(even) .timeline-content .message{
        margin-left:-700px;
      }
      .timeline-item:nth-child(even) .timeline-content .date {
        right: auto;
        left: 0;
      }
      .timeline-item:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        margin-right: 415px;
        border-width: 10px 15px 10px 0;
        border-color: transparent darkgray transparent transparent;
      }
      .timeline-item::after {
        content: "";
        display: block;
        clear: both;
        /*margin-right:350px;*/
      }
      .message {
        position: absolute;
        width: 400px;
        height: 150px;
        margin-left:710px;
        margin-top: -290px;
      }
      
      .timeline-content {
        position: relative;
        width: 400px;
        padding: 10px 30px;
        border-radius: 4px;
        background: #f5f5f5;
        box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
      }
      .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        right: -15px;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent darkgray;
      }
      
      .timeline-img {
        width: 30px;
        height: 30px;
        background: #3F51B5;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-top: 25px;
        margin-left: -15px;
      }

      a:hover, a:active, a:focus {
        color: #FFFFFF;
        text-decoration: none;
      }
      /* 배치 margin */
      .timeline-card {
        padding: 0 !important;
        margin-left:20px 
      }
      .timeline-card p {
        padding: 0 20px;
      }
      .timeline-card a {
        margin-left: 20px;
      }
      
      .timeline-item .timeline-img-header {
        background-size: 500;
      }
      
      .timeline-img-header {
        height: 300px;
        position: relative;
        margin-bottom: 20px;
      }
      .timeline-img-header img {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        display: block;
        margin: auto;
      }

      .timeline-img-header h2 {
        color: #FFFFFF;
        position: absolute;
        bottom: 5px;
        left: 20px;
      }

      blockquote {
        margin-top: 30px;
        color: #757575;
        border-left-color: #3F51B5;
        padding: 0 20px;
      } 

      .date {
        background: #FF4081;
        display: inline-block;
        color: #FFFFFF;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
      }
      
      @media screen and (max-width: 768px) {
        .timeline::before {
          left: 50px;
        }
        .timeline .timeline-img {
          left: 50px;
        }
        .timeline .timeline-content {
          max-width: 100%;
          width: auto;
          margin-left: 20px;
        }
        .timeline .timeline-item:nth-child(even) .timeline-content {
          margin-right:90px;
          float: none;
        }
        .timeline .timeline-item:nth-child(odd) .timeline-content::after {
          content: "";
          position: absolute;
          border-style: solid;
          width: 0;
          height: 0;
          top: 30px;
          left: -15px;
          margin-right:415px;
          border-width: 10px 15px 10px 0;
          border-color: transparent #f5f5f5 transparent transparent;
        }
      }
</style>
<body class="skin-black">
  <header class="header">
      <a href="/" class="logo">
          <br>Data Semantics Lab.
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-right">
              <ul class="nav navbar-nav">
                  <li id='loginBtn'>
                      <% if(userInfo==null){ %>
                          <a href="#" data-toggle="modal" data-target="#myModal" type="button">
                              <h11
                                  style="font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                                  <strong>Login</strong>
                              </h11>
                              <span class="iconify" data-icon="entypo:login" data-inline="false"
                                  style="font-size: 25px;">
                          </a>
                          <% } else { %>
                              <a href="#" type="button" onclick="logout()">
                                  <h11
                                      style="font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                                      <strong>Logout</strong>
                                  </h11>
                                  <span class="iconify" data-icon="entypo:login" data-inline="false"
                                      style="font-size: 25px;">
                              </a>
                              <% } %>
                  </li>
              </ul>
          </div>
      </nav>
  </header>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="left-side sidebar-offcanvas">
      <section class="sidebar">
          <div class="user-panel">
              <div class="pull-left image">
                  <img src="../../img/logo_1.jpg" class="image" alt="User Image" />
              </div>
          </div>
          <form action="#" method="get" class="sidebar-form"></form>
          <ul class="sidebar-menu">
              <li>
                  <a class="menuSelect" id="Home" style="cursor:pointer; ">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <span>Home</span>
                  </a>
              </li>
              <li class="treeview">
                  <a href="#">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span>Members</span>
                      <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                      <li>
                          <a class="menuSelect" id="Professor" style="cursor:pointer; ">
                              <i class="fa fa-angle-double-right">
                              </i>
                              Professor
                          </a>
                      </li>
                      <li>
                          <a class="menuSelect" id="Researcher" style="cursor:pointer; ">
                              <i class="fa fa-angle-double-right">
                              </i>
                              Researcher
                          </a>
                      </li>
                      <li>
                          <a class="menuSelect" id="Alumni" style="cursor:pointer; ">
                              <i class="fa fa-angle-double-right">
                              </i>
                              Alumni
                          </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a class="menuSelect" id="Paper" style="cursor:pointer; ">
                      <i class="fa fa-file" aria-hidden="true"></i>
                      <span>Paper</span>
                  </a>
              </li>
              <li>
                  <a class="menuSelect" id="Others" style="cursor:pointer; ">
                      <i class="fa fa-plus-square" aria-hidden="true"></i>
                      <span>Others</span>
                  </a>
              </li>
              <li>
                  <a class="menuSelect" id="Activity" style="cursor:pointer; ">
                      <i class="fa fa-tasks fa-1x" aria-hidden="true"></i>
                      <span>Activity</span>
                  </a>
              </li>
              <li class="treeview">
                  <a class="menuSelect" href="#" style="cursor:pointer; ">
                      <i class="fa fa-share" aria-hidden="true"></i>
                      <span>Link</span>
                      <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                      <% for(let i =0; i<iconInfo.length; i++) {%>
                          <li>
                              <a class="menuSelect" href='<%=iconInfo[i][2]%>' target="_blank" id="<%=iconInfo[i][0]%>" style="cursor:pointer;">
                                  <i class="fa fa-angle-double-right"></i>
                                  <%=iconInfo[i][0]%>
                              </a>
                          </li>
                      <% } %>
                      <% if(userInfo != null) { %>
                          <li>
                              <a class="menuSelect" id="linkUpdate" style="cursor:pointer; ">
                                  <i class="fa fa-angle-double-right"></i>
                                  Edit
                              </a>
                          </li>
                      <% } %>
                  </ul>
              </li>
          </ul>
          <div>
          </div>
      </section>
  </aside>
  <!-- <aside class="right-side">
      <div class="content-header" id="content-header">
      </div> -->


    <aside class="right-side" style="margin-left: 220px; margin-top: 30px;">
        <div class="content-header" style="height:30px;">
            <h1>Activity
                <a class="button" href='https://www.facebook.com/profile.php?id=100057329179873' target="_black" style="font-size : 25px; height: 40px;">
                    <i>
                        <img src = "../../img/facebook.svg" style="width:25px; height:25px"/>
                    </i>
                </a>
            </h1>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header">
                        </div>
                        <div class="box-body" style="width: auto;">
                            <div class="TLine" style="overflow-y: auto; width: 100%; height:700px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
  </div>
</body>

</html>