<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DSEM Lab.</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <script src="/js/iconify.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/AdminLTE/app_homepage.js" type="text/javascript"></script>
    <script src="/js/function.js"></script>
</head>

    <!--#Edit-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        style=" padding-left: 150px; padding-top: 120px;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 600px; height: 670px;">
                <div class="modal-header" style="height: 40px;">
                    <center style="font-size: 18px;">Edit</center>
                </div>
                <% let edit=['name', 'department' , 'laboratory' , 'email' , 'location' , 'research' ]; for(let i=0;
                    i<edit.length; i++) { %>
                    <div style="margin-right: 10px; margin-left:50px; width: 60px;">
                        <h13>
                            <%= edit[i] + ':' %>
                        </h13>
                        <input style="margin-left:0px; width: 350px;" id='name' />
                    </div>
                    <br>
                    <% } %>
            </div> -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="save()">Save</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="close()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <aside class="right-side" style="margin-left: 0px; margin-top: 0px;">
        <div class="content-header" style="height:30px">
            <h1>Others
                <% if(userInfo!=null) { %>
                    <a href="#" data-toggle="modal" data-target="#edit" type="button" class="btn btn-default"
                        style="float:right; height: 35px;">
                        <h14 style="font-size: 15px;">
                            Edit
                        </h14>
                    </a>
                    <% } %>
            </h1>
        </div>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header">
                        </div>
                        <div class="box-body">
<%                          
                            let kinds = ['특허', '수상', '저서', '소프트웨어 등록'];
                            for(let i =0; i<others_results.length; i++) { 
%>
                            <p style="font-size:20px;">&bull;&nbsp;<strong><%=kinds[i]%></strong></p>
                            </p>
                                <li style="font-size: 16px; font-weight: 500; list-style: none;">
<%                                  
                                    var count = 0;
                                    var str = '';
                                    for(let j =others_results[i].length-1; j>=0; j--) { 
                                        str = '';
                                        if(i == 0) {
                                            if(others_results[i][j][4] == (null || '')) {
                                                others_results[i][j][4] = '';
                                            } else {
                                                others_results[i][j][4] = others_results[i][j][4] + ' / ';
                                            }
                                            str = others_results[i][j][1] + ' / ' + others_results[i][j][4] + others_results[i][j][3] + ' / ' + others_results[i][j][8] + ' / ' + others_results[i][j][6] + ' / ' + others_results[i][j][7];
                                        } else if(i == 1) {
                                            str = others_results[i][j][5] + ' / ' + others_results[i][j][2] + ' / ' +others_results[i][j][3] + ' / ' + others_results[i][j][4] + ' / ' + others_results[i][j][1]; 
                                        } else if(i == 2) {
                                            str = others_results[i][j][1] + ' / ' + others_results[i][j][3] + ' / ' + others_results[i][j][4] + ' / ' + others_results[i][j][5] + ' / ' + 'ISBN: ' + others_results[i][j][6];
                                        } else {
                                            str = others_results[i][j][1] + ' / ' + others_results[i][j][8] + ' / ' + others_results[i][j][4] + ' / ' + others_results[i][j][2] + ' / ' + others_results[i][j][7] + ' / ' + '등록번호: ' + others_results[i][j][3]; 
                                        }
                                        %>
                                        <%= count+1 + ". " + str %>
                                        <br><br>
<%                                      count++;
                                    }                                                %>
                                </li>
                                <br>
                                
<%                          }           %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
    </div>
</body>

</html>